@import "bootstrap-sprockets";
@import "bootstrap";
@import "protospace";



.page-link {
  height: 34.13px;
  width: 34px;
  vertical-align: middle;
  font-size: 14px;
}

.pagination_letter {
  font-size: 14px;
}

